
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<section class="noticias-recientes-dd4w">
  <div class="row">
  <div class="col-lg-4 noticias1">
    <img src="/images/noticias-recientes.png" class="img-fluid" alt="">
    <h1 class="titulo-noticias">Noticias Recientes</h1>
  </div>
  <div class="col-lg-8 noticias2">

    <div class="swiper mySwiper">
      <div class="swiper-wrapper"  style="margin-bottom: 40px; margin-top: 80px;"> 

        <div class="card h-100 swiper-slide shadow ">
          <div class="image-content">
              <span class="overlay"></span>
              <a href="/convocatoria-de-ponencias">
                <div class="card-image">
                 <img src="/images/blog/convocatoria.png" alt="" class="img-fluid">
                </div>
              </a>
          </div>
          <div class="card-content">
              <p class="description">Convocatoria de Ponencias</p>

              <a href="/convocatoria-de-ponencias">
                  <button class="button" style="font-size: 22px; padding-left: 30px; padding-right: 30px;">Ver más</button>
              </a>
          </div>
      </div>  

        <div class="card h-100 swiper-slide shadow ">
          <div class="image-content">
              <span class="overlay"></span>
              <a href="/registro">
                <div class="card-image">
                 <img src="/images/blog/dd4w-card-2024.png" alt="" class="img-fluid">
                </div>
              </a>
          </div>
          <div class="card-content">
              <p class="description">¡El registro está abierto!</p>

              <a href="/registro">
                  <button class="button" style="font-size: 22px; padding-left: 30px; padding-right: 30px;">Ver más</button>
              </a>
          </div>
        </div>

        <div class="card h-100 swiper-slide shadow ">
              <div class="image-content">
                  <span class="overlay"></span>
                  <a href="/sedes-virtuales/">
                    <div class="card-image">
                     <img src="/images/blog/sede-virtual.png" alt="" class="img-fluid">
                    </div>
                  </a>
              </div>
              <div class="card-content">
                  <p class="description">Registro sedes virtuales</p>
  
                  <a href="/sedes-virtuales/">
                      <button class="button" style="font-size: 22px; padding-left: 30px; padding-right: 30px;">Ver más</button>
                  </a>
              </div>
          </div>


          
  
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!--<div class="swiper-pagination"></div>-->
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10, 
        autoplay: true,
          autoplaySpeed: 10500,
          pauseOnHover: false,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
  
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 2,
            spaceBetween: 40,
          },
          1055: {
            slidesPerView: 2,
            spaceBetween: 45,
          },
          1480: {
            slidesPerView: 3,
            spaceBetween: 45,
          },
        },
      });
    </script>
  </div>
  </div>
</section>




<!--

<section class="section blog">
  <div class="container">
    <center>
      <h1 style="color: white; margin-bottom: 30px;">Noticias recientes</h1>
    </center>


    <div class="card-deck">
      {{ range first 3 (where .Site.RegularPages "Type" "blog" )}}
       
      <div class="card">

        <img src="{{ .Params.Image | absURL }}" class="img-fluid" alt="{{ .Title | markdownify }}">
        <div class="card-body ">
          <h5 class="card-title" style="text-align: center;"><a href="{{ .Permalink }}"><strong >{{ .Title | markdownify }}</strong></a></h5>
       
            <p class="module line-clamp">{{ .Summary }}</p>
          
        </div>

        

        <a style="color: white;" href="{{ .Params.botton_link }}">
        <button type="button" class="btn btn-primary ">{{ .Params.botton }}&nbsp;&nbsp; </a><i class="fa fa-arrow-right" aria-hidden="true"></i></button></a> 
        <br>
        <div class="card-footer">
          <small class="text-muted"><i class="far fa-calendar-alt" >&nbsp;&nbsp;</i>{{ .PublishDate.Format "January 2, 2006" }}</small>
        </div>
      </div>
     
      {{ end }}
    </div>
  
    </div>
</section>-->
  