{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}

<section class="section event-info">

  <div class="container">  
    <h1 class="lines-effect titulo" style="text-align: center;">{{ .title }}</h1>
    <div class="content">
      <div>
        <div class="globo globo-1">
          <p>{{ .description }}</p>
        </div>
        <div class="globo globo-2">
          <p>{{ .description1 }}</p>
        </div>
        <div class="globo globo-3">
          <p>{{ .description2 }}</p>
        </div>
           

      </div>
    </div> 
    </div>
  </div>
</section>
{{ end }}