{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}
<section class="section event-info">
  <a id="event-info"></a>
  <div class="container">  
    <h1 class="titulo">{{ .title }}</h1>
    <div class="content">
      <div>
        <p>{{ .description }}</p>   
        <p>{{ .description1 }}</p>    
      </div>

      <div>
        <p>{{ .description2 }}</p>
        <p>{{ .description3 }}</p> 
      </div>
    </div> 

    <br>
    
    <div class="imagen" >      
      <h2>{{ .present_by }}</h2>
      <br>
    <img src="{{ .image }}" alt="">
    </div>

  </div>

  
 
</section>
{{ end }}