<footer class="section footer">

<!-- Videos -->

<section class="section-sponsors section" style="margin-top: -65px;">
	<br><br>
	<div class="container">  
	  <div class="card-deck">
		<div class="card" style="border: none; background-color: black;">
		 
			<div>
				<h3 class="mb-3">{{ .Site.Title | markdownify }}</h3>

				<ul class="list-inline footer-socials">
					{{ range .Site.Params.social }}
					<li class="list-inline-item"><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
					{{ end }}
				</ul>
			</div>	
  
		</div>
		<div class="card" style="border: none; background-color: black;">
		 
			<div>
				<h5>Recursos:</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_resources }}
					<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>
  
	  </div>
	  <div class="card" style="border: none; background-color: black;">
		 
		<div>
			<h5>Eventos previos:</h5>
			<ul class="footer_links">
				{{ range .Site.Params.footer_previous }}
				<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
				{{ end }}
			</ul>
		</div>  
	</div>
	<div class="card" style="border: none; background-color: black;">
		 
		<div>
			<h5>Contácto:</h5>
			<ul class="footer_links">
				{{ range .Site.Params.footer_contact_us }}
				<li><a href="{{ .link | safeURL }}">{{ .name }} </a></li>
				{{ end }}
			</ul>
		</div>
		
	  </div>
	</div>
  </section>
  
  <!-- /Videos -->
  </section>

	<div class="container">

		{{ with .Site.Params.disclaimer }}
		<div class="disclaimer">
			{{ . }}  
		</div>			
        {{ end }}
	</div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | relURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ with .Site.Params.GoogleAnalytics}}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXJFH7W"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
{{ end }}