<footer class="section footer">
	<div class="container">
		<div class="footer-strip">
			<div>
				<h3 class="mb-3">{{ .Site.Title | markdownify }}</h3>

				<ul class="list-inline footer-socials">
					{{ range .Site.Params.social }}
					<li class="list-inline-item"><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
					{{ end }}
				</ul>
			</div>	
			<div>
				<h5>Recursos</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_previous }}
					<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>
			<div>
				<h5>Contáctanos</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_resources }}
					<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>

			<!--
				<div>
				<h5>Presentado por</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_resources }}
					<img src="{{ .link | safeURL }}" alt="" width="90%">
					{{ end }}
				</ul>
			</div>
			-->

					
		</div>
		{{ with .Site.Params.disclaimer }}
		<div class="disclaimer">
			{{ . }}  
		</div>			
        {{ end }}
		

		
	</div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | relURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ with .Site.Params.GoogleAnalytics}}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXJFH7W"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
{{ end }}