{{ $gallery := site.Data.galeria }}

<section>
    <div class="wrap">

        {{ partial "dd4w2026/section-head.html" (dict
            "kicker" $gallery.section.kicker
            "title"  $gallery.section.title
        ) }}

        <div class="gal-c"
             role="img"
             aria-label="Galería de fotografías de ediciones pasadas">

            <div class="gal-track">

                {{/* Primera pasada */}}
                {{ range $gallery.images }}
                    <div class="g" style="background-image:url('{{ .image | relURL }}')">
                    </div>
                {{ end }}

                {{/* Segunda pasada para el efecto infinito */}}
                {{ range $gallery.images }}
                    <div class="g" aria-hidden="true" style="background-image:url('{{ .image | relURL }}')">
                    </div>
                {{ end }}

            </div>
        </div>

    </div>
</section>