{{ define "main" }}

{{ $data := index .Site.Data }}

<!-- banner -->
{{ with $data.homepage.banner }}

<section class="hero">
  <div class="frame1">
    <div class="photo-container">
          <img class="photo" src="https://devday4w.com/images/hero-photo.png">
    </div>
  </div>
  
  <div class="frame2">
    <!-- Tenemos un grid de 2x2. Nuestro contenido está en el 4to elemento (derecha inferior), así que necesitamos 3 elementos vacíos. -->
    <div class="spacer">
    </div>
    <div class="spacer">
  </div>
    <div class="spacer">
  </div>
  <div class="info" style="margin-top: -100px;">
    Dev Day 4 Women
    <br><br>
    <p style="margin-bottom: 30px;" >Mujeres que desarrollan </p>
    <p>software grandioso</p>

    <div class="subtitulo">
        
      <p>Online, Abril 17, 2024</p>
      
      <!--<p>Universidad La Salle, Hipódromo Condesa, <br></p>  
      
      <p> Ciudad de Mexico.</p>

      <a href="https://lasalle.mx/" target="_blank">
        <img src="images/la-salle.png" style="border-radius: 50px;">
      </a>-->
      
    </div>
   


    {{ if .button2.enable }}
    {{ with .button2 }}
    <a href="{{ .link | absURL }}" style="color: white; background-color: #37C3D6 !important; border: none !important;" class="btn btn-hero2 btn-rounded mb-4">{{ .label }}</a>
    {{ end}}
    {{ end}}
  </div>
  

</div>
</section>
{{ end }}
<!-- /banner -->

<!-- event_info  -->
{{ if $data.homepage.event_info.enable }}
{{ partial "event_info.html" . }}
{{ end }}
<!-- /event_info -->


<!-- feature -->
{{ if $data.homepage.feature.enable }}
{{ with $data.homepage.feature }}
<section id="section-feature">
  <div class="container">
    <div class="row">
      {{ range .feature_item }}
      <div class="col-lg-4 col-md-6">
        <div class="feature-box">
          <i class="{{ .icon }}"></i>
          <h4 class="mt-3 mb-3">{{ .name | markdownify }}</h4>
          <div class="divider"></div>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->

<!-- schedule -->
{{ if $data.homepage.schedule.enable }}
{{ partial "schedule.html" . }}
{{ end }}
<!-- /schedule -->

<!-- pricing -->
{{ if $data.homepage.pricing.enable }}
{{ partial "pricing.html" . }}
{{ end }}
<!-- /pricing  -->


<section style="background-image: url('/images/fondo/Banner_Dos días p Back.png'); background-size: cover;
background-attachment: fixed;">
<!-- blog -->
{{ if $data.homepage.blog.enable }}
{{ partial "blog.html" . }}
{{ end }}
<!-- /blog -->

<!-- speaker -->
{{ if $data.homepage.speakers.enable }}
<section class="section speakers">
  <div class="container">
    {{ with $data.homepage.speakers }}
    {{ partial "section_title.html" . }}
    {{ end }}
    <div class="speakers-wrapper">
      {{ range (where (where .Site.RegularPages.ByTitle "Type" "speakers") ".Params.featured" true) }}

      <div class="speaker">
        <a href="{{ .Permalink }}">
          <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}" class="img-fluid rounded-circle">
        </a>
        <h4 class="mb-0 mt-3">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>
        <p>{{ .Params.Designation }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /speaker -->



<!-- Videos -->

<section class="section-sponsors section" style="margin-top: -65px;">
  <br><br>
  <div class="container">
    <center>
      <h1 style="color: white;">Conoce algunas de las sesiones anteriores</h1>
    </center>
    <br><br>

    <div class="card-deck">
      <div class="card" style="border: none;">
       
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yEoBNm_RudU" allowfullscreen></iframe>
          </div>

      </div>
      <div class="card" style="border: none;">
       
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8uTgLIwdM8U" allowfullscreen></iframe>
        </div>

    </div>
    <div class="card" style="border: none;">
       
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1CDHTczGGbM" allowfullscreen></iframe>
      </div>

  </div>
    </div>
  </div>
</section>

<!-- /Videos -->
</section>

<!-- sponsor -->
{{ if $data.sponsors }}
<section class="section-sponsors section" style="margin-top: -65px;">
    <br><br>
    <div class="container">
      <center>
        <h1>Patrocinadores</h1>
      </center>
      <br><br>
        {{ $data := index .Site.Data }}
        {{ with $data.sponsors }}
        {{ range .sponsor_group }}
        <div class="row mb-5">
            <div class="heading col-lg-8">
              {{ with .title }}
              <h2 style="margin-bottom: -20%; color: black;">{{ . }}</h2>
           
                {{ end}}
            </div>
            <br><br><br>
            <div class="sponsor-strip {{ .slug }}" >
                {{ range .sponsor }}
                <div  class="sponsor-item" >
                    {{ if and (ne .link "") (ne .link "#") }}
                    <a href="{{ .link }}" target="_blank"><img src="{{ .logo | relURL }}" alt="" class="img-fluid"></a>
                    {{ else }}
                    <img src="{{ .logo | relURL }}" alt="" class="img-fluid">
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <br>
        </div>
        {{ end }}
        {{ if .sponsorship.enable }}
        {{ with .sponsorship }}
        <div class="col-lg-12">
            <a href="{{ .link | safeURL }}" class="btn btn-banner2" target="_blank">{{ .label }} <i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
<!-- /sponsor -->


{{ end }}

