.section.banner {
  /*background-color: #000a54;*/
  background-image: url(/images/HOME.png);
	background-size: cover;
	background-position: center;
  
	margin-top: 40px;
	padding-bottom: 400px;
	height: 100%;
	justify-content: center;
	text-align: center;

/*
  .stripe-start {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    height: 10px;
    width: 100%;
    background-color: $orange;
  }

  .stripe-end {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    height: 10px;
    width: 100%;
    background-color: $orange;
  }*/

  .logo {
    background-size: cover;
    background-position: center;
    margin-top: 95px;
    margin-bottom: -70px;
    //background-color: rgba(48, 48, 48, 0.329);

    @media (max-width:768px) {
      margin-top: 60px;
      margin-bottom: -30px;
    }
  }

  .meta {

    margin: 200px 10px ;    
    //background-color: rgba(211, 88, 211, 0.144);
  }

  .logo h1{
    
    padding: 20px 400px;
    font-size: 4.6em;
    color: $white;

    margin-bottom: 160px;

    @media (max-width:1800px) {
      font-size: 3.2em;
      padding: 20px 250px;
      margin-bottom: 10px;
    }

    @media (max-width:1300px) {
      font-size: 2.2em;
      padding: 20px 250px;
      margin-bottom: 10px;
    }

    @media (max-width:868px) {
      margin-top: -45px;
      font-size: 2.2em;
      padding: 20px 25px;
      margin-bottom: -35px;
    }

  }

  .meta p {
    margin-left: 460px;
    padding: 8px 0px;
    font-size: 2.6em;
    color: $white;

    @media (max-width:768px) {
      margin-left: 0px;
      font-size: 2.0em;
      margin-top: -100px;
    }
  }

  .meta h1 {
    font-size: 3.6em;
    margin-left: 460px;
    line-height: 25px;
    color: $white;

    @media (max-width:768px) {
      margin-left: 0px;
 
    }
  }

  .meta h2 {
    font-size: 3.6em;
    margin-left: 460px;
    line-height: 78px;
    margin-left: 660px;
    color: $white;

    @media (max-width:768px) {
      margin-left: 0px;
 
    }
  }

  .meta h3 {
    font-size: 2.4em;
    margin-left: 460px;
    line-height: 78px;
    margin-left: 660px;
    color: $white;
    margin-top: -35px;

    @media (max-width:768px) {
      margin-left: 0px;
      font-size: 1.8em;
    }
  }

  .meta h4 {
    font-size: 1.9em;
    margin-left: 460px;
    line-height: 78px;
    margin-left: 660px;
    color: $white;
    margin-top: -35px;

    @media (max-width:768px) {
      margin-left: 0px;
      margin-bottom: 80px;
    }
  }


  .bannerimg{
    float: left; 
    margin-top: -715px; 
    margin-left: 0px;

    
    @media (max-width:768px) {
      align-items: center; 
      margin-top: 20px; 
      visibility: hidden;
    }
  }


  .titulo-dd4w p{
    font-size: 2.4em;
    @media (max-width:768px) {
      font-size: 1.9em;
    }
  }


  .scroll-link {
    margin-top: 30px;
  }

  .scroll-link img {
    height: 30px;
  }

  .divider {
    width: 120px;
    height: 6px;
    background: $primary-color;
    display: block;
  }

  .btn-banner1 {
    background-color:white;
    color: white;
    font-weight: 500;
    letter-spacing: .1em;
    

    &:hover {
      color:  #e0e0e0;
      background-color: #e0e0e0;
    }
  }

  .btn-banner2 {
    background-color: $primary-color;
    color: $white;
    font-weight: 500;
    letter-spacing: .1em;

    &:hover {
      background-color: $yellow;
      color: $white;
    }
  }
}