
.client-item {
	a {
		display: block;
	}

	float: left;
	width: 15%;
	height: 115px;
	border:1px solid rgba(255, 255, 255, 0.05);
	padding: 20px;
	text-align: center;
	opacity: .7;
	-webkit-transition: all .45s ease-in-out;
	-moz-transition: all .45s ease-in-out;
	-ms-transition: all .45s ease-in-out;
	-o-transition: all .45s ease-in-out;
	transition: all .45s ease-in-out;

	&:hover {
		opacity: 1;
		background: $black;
	}

	@include desktop {
		width: 20%;
	}

	@include tablet {
		width: 30%;
	}

	@include mobile {
		width: 40%;
	}

	@include mobile-xs {
		width: 50%;
	}
}

.bg-black {
	background: #000;
}

.letter-spacing {
	letter-spacing: 2px;
	text-transform: uppercase;
}

.text-sm {
	font-size: 14px;
}

.bg-gray {
	background: #eee;
}

.titulo-patrocinadores{
	color: $titulo;
    font-weight: bold;
	font-size: 3.8em;
	padding: 20px;
    font-family: "Anton", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #6e8021;
      @media (max-width:992px) {
      font-size: 2.8em;
      -webkit-text-stroke: 2px #6e8021;
      }
	
		@media (max-width:500px) {
			font-size: 2.0em;
			-webkit-text-stroke: .5px #6e8021;
			}
}