{{ define "main" }}
<section class="section banner agenda">

  <div class="container">
    <div class="agenda opt img-fluiud">
      <h1>AGENDA</h1>
      <br><br>
     <h2>Tú puedes formar parte del evento compartiendo tu conocimiento</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card h-100 agenda card card titulos">
          <div class="card-body">
            <h2 class="card-title">Charlas</h2>
            <h3 class="colorbg">25 minutos</h3>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 agenda card card titulos">
          <div class="card-body">
            <h2 class="card-title">Ignite</h2>
            <h3 class="colorbg">5 minutos</h3>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 agenda card card titulos">
          <div class="card-body">
            <h2 class="card-title">Comunidad</h2>
            <h3 class="colorbg">3 minutos</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/images/FOTO-AGENDA.png" alt="" class="img-fluid img agenda"> 
</section>
{{ end }}