{{ define "main" }}

<section class="speaker-2 section">
  <div class="container">
    <div class="lead">
      {{ .Content }} 
    </div>

    <h1 class="text-center">Inspiración</h1>
    <br>
    <div class="speaker-strip-winners">
      {{ range .Data.Pages.ByTitle }}
      {{ if in .Params.nominacion "inspiracion" }}
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">
            <a href="{{.Permalink}}">
              <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}" class="img-fluid rounded-circle shadow">
            </a>
          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="{{.Permalink | relURL }}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    <br>

    <h1 class="text-center">Líder Emergente</h1>
    <br>
    <div class="speaker-strip-winners">
      {{ range .Data.Pages.ByTitle }}
      {{ if in .Params.nominacion "lider-ganadoras" }}
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">
            <a href="{{.Permalink}}">
              <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}" class="img-fluid rounded-circle shadow">
            </a>
          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="{{.Permalink | relURL }}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    <br>
    <h1 class="text-center">Sororidad</h1>
    <br>
    <div class="speaker-strip-winners">
      {{ range .Data.Pages.ByTitle }}
      {{ if in .Params.nominacion "sororidad" }}
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">
            <a href="{{.Permalink}}">
              <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}" class="img-fluid rounded-circle shadow">
            </a>
          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="{{.Permalink | relURL }}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>


</section>
 
{{ end }}