{{ define "main" }}

<section class="section">
      
      <div class="container mb-4">
        <p class="text-center">
            {{ .Content }}
        </p>
        <div class="row">         
            <ul class="event-list">
              {{ range sort .Data.Pages.ByDate.Reverse }}
                <li><a class="session-title" href="{{.Permalink}}">{{ .Params.title }}</a></li>
              {{ end }}
            </ul>
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
      <a href="https://forms.gle/KrM5aVL67gHuoGWg6" class="btn btn-hero1 btn-rounded" target="blank" style="color: white; text-decoration: none;">Quiero votar</a>
    </div>
     
</section>
{{ end }}