{{ define "main" }}

<section class="section">
      
      <div class="container mb-4">
        <p class="text-center">
            {{ .Content }}
        </p>
        <div class="row">         
            <ul class="event-list">
              <!--{{ range sort .Data.Pages.ByDate.Reverse }}
                <li><a class="session-title" href="{{.Permalink}}">{{ .Params.title }}</a></li>
              {{ end }}-->
              <li><a class="session-title" href="../reconocimientos-2024/">RECONOCIMIENTOS 2024 Code 4 DEI</a></li>
              <li><a class="session-title" href="../reconocimientos-2022/">RECONOCIMIENTOS 2022 SG4W</a></li>
              <li><a class="session-title" href="../reconocimientos-2021/">RECONOCIMIENTOS 2021 SG4W</a></li>
              <li><a class="session-title" href="../reconocimientos-2020/">RECONOCIMIENTOS 2020 SG4W</a></li>
            </ul>
        </div>
    </div>
     
</section>
{{ end }}