{{ define "main" }}
<style>
  html, body, .hero { height: 63%; margin: 0; }
  
  .hero {
    display: grid;
    /* El grid tiene 2 columnas, una de 40% del ancho y otra con el resto */
    grid-template-columns: 0% 1fr;
      /* Solo hay un renglón, de altura flexible */
    grid-template-rows: 1fr;
    background-color: #927AFF;
    text-align: center;
 
  }
  
  .frame1 {
    /* el contenido del frame va centrado horizontalmente */
    justify-self: center; 
    
    /* y verticalmente alineado hacia abajo */
    align-self: end; 
  }
  
  .photo-container {
    /* 70% de la altura de pantalla. Ajustar al gusto y usar la misma altura para el texto blanco. */
    height: 70vh;
  }
  
  .photo {
    width: auto;
    height: 100%;
  }
  
  .card-title{
      margin-top: -20px;
    }
  
  .frame2 {
    background-image: url(/images/degradados/reconocimientos.png);
    background-size: cover;
    /* Para controlar el layout de este cuadro, volvemos a usar un grid. Es de 2 columnas x 2 renglones. La primer columna es un margen del 10% del ancho de pantalla, y la 2da columna es de ancho flexible, y es donde va el texto. De los renglones, el primer renglón tiene altura flexible mientras que el segundo es del 70% de la altura de la pantalla, este es el mismo valor que se usó para el cuadro con la foto de la chica. */
    display: grid;  
    grid-template-columns:  1vw 1fr;
    grid-template-rows: 1fr 20vh;
  }
  
  .info h1 {
    color: #ffffff;
   margin-top: -48px;
  }


  @media only screen and (max-width: 1199px) { 
    .agenda{
      margin-top: 6px;
      font-size: 0.3em;
    }

    .agenda>h2{
      font-size: 1.0em;
    }

    .card-title{
      margin-top: -25px;
      font-size: 1.2em;
    }
  
  }

  
  @media only screen and (max-width: 600px) { 
    
    .photo {
      display: none;
    }
    .hero {
      grid-template-columns: 0% 1fr;
    }
  
    .agenda{
      margin-top: 55px;
      font-size: 0.3em;
    }

    .agenda>h2{
      font-size: 1.2em;
    }

    .card-title{
      display: none;
    }


    .frame2 {
      /* En pantalls pequeñas hay que ajustar el acomodo de la imagen de background para que no tape tanto. */
      background-position: bottom right;
      background-size: contain;
      background-repeat: no-repeat;
    }
  
  }
  
  
</style>
  
  <section class="hero">
    <div class="frame1">
    </div>
    
    <div class="frame2">
      <!-- Tenemos un grid de 2x2. Nuestro contenido está en el 4to elemento (derecha inferior), así que necesitamos 3 elementos vacíos. -->
      <div class="spacer">
      </div>
      <div class="spacer">
    </div>
      <div class="spacer">
    </div>
    <div class="info">
      <section class="section ">

        <div class="container">
          <div class="agenda opt img-fluiud">
            <h1>RECONOCIMIENTOS SG4W</h1>
     
           <h2>Queremos reconocer a las mujeres en las Tecnologías de la Información</h2>
          </div>
      
          <!--<div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <div class="card h-100 agenda card titulos">
                <div class="card-body">
                  <h2 class="card-title ">Inspiración</h2>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 agenda card card titulos">
                <div class="card-body">
                  <h2 class="card-title">Líder emergente</h2>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 agenda card card titulos">
                <div class="card-body">
                  <h2 class="card-title">Sororidad</h2>
                </div> 
              </div>
            </div>
          </div>-->
        </div>
        <!--<img src="/images/FOTO-RECONOCIMIENTOS.png" alt="" class="img-fluid img agenda"> -->
      </section>
    </div>
  
  </div>
  </section>

<section class="section">



      
      <div class="container mb-4">
        <p class="text-center">
            {{ .Content }}
        </p>
        <div class="row">         
            <ul class="event-list">
              {{ range sort .Data.Pages.ByDate.Reverse }}
                <li><a class="session-title" href="{{.Permalink}}">{{ .Params.title }}</a></li>
              {{ end }}
            </ul>
        </div>
    </div>

</section>
{{ end }}