{{ define "main" }}

<style>
html, body, .hero { height: 63%; margin: 0; }

.hero {
  display: grid;
  /* El grid tiene 2 columnas, una de 40% del ancho y otra con el resto */
  grid-template-columns: 40% 1fr;
    /* Solo hay un renglón, de altura flexible */
  grid-template-rows: 1fr;
  background-color: #927AFF;
}

.frame1 {
  /* el contenido del frame va centrado horizontalmente */
  justify-self: center; 
  
  /* y verticalmente alineado hacia abajo */
  align-self: end; 
}

.photo-container {
  /* 70% de la altura de pantalla. Ajustar al gusto y usar la misma altura para el texto blanco. */
  height: 70vh;
}

.photo {
  width: auto;
  height: 100%;
}

.frame2 {
  background-image: url("https://devday4w.com/images/hero-pattern.png");
  background-size: cover;
  /* Para controlar el layout de este cuadro, volvemos a usar un grid. Es de 2 columnas x 2 renglones. La primer columna es un margen del 10% del ancho de pantalla, y la 2da columna es de ancho flexible, y es donde va el texto. De los renglones, el primer renglón tiene altura flexible mientras que el segundo es del 70% de la altura de la pantalla, este es el mismo valor que se usó para el cuadro con la foto de la chica. */
  display: grid;  
  grid-template-columns:  3vw 1fr;
  grid-template-rows: 1fr 20vh;
}

.info h1 {
  color: #ffffff;
 
}

@media only screen and (max-width: 600px) { 
  /* En pantallas pequeñas esconder la foto
  y hacer que el frame izquierdo sea de solo 20% del ancho (en lugar del 40%) */
  .photo {
    display: none;
  }
  .hero {
    grid-template-columns: 20% 1fr;
  }

  .frame2 {
    /* En pantalls pequeñas hay que ajustar el acomodo de la imagen de background para que no tape tanto. */
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
  }

}


</style>


<section class="hero">
  <div class="frame1">
  </div>
  
  <div class="frame2">
    <!-- Tenemos un grid de 2x2. Nuestro contenido está en el 4to elemento (derecha inferior), así que necesitamos 3 elementos vacíos. -->
    <div class="spacer">
    </div>
    <div class="spacer">
  </div>
    <div class="spacer">
  </div>
  <div class="info">
    <h1>SPEAKERS</h1>
  </div>

</div>
</section>


<section class="speaker-2 section">
  <div class="container">
    <div class="lead">
      {{ .Content }}
    </div>
    <div class="speaker-strip">
      {{ range where .Data.Pages.ByTitle "Params.year" "2022-h2"}} 
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">
            <a href="{{.Permalink}}">
              <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}" class="img-fluid rounded-circle shadow">
            </a>
          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="{{.Permalink | relURL }}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>


    <!--<center><h1>Líderes de comunidades</h1></center>
    <br>
    <div class="speaker-strip">
      {{ range where .Data.Pages.ByTitle "Params.comunidad" "si"}}  
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">
            <a href="{{.Permalink}}">
              <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}" class="img-fluid rounded-circle shadow">
            </a>
          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="{{.Permalink | relURL }}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>-->
  </div>
</section>
 
{{ end }}